body {
  margin: 0;
  padding: 0;

  font-size: 14px;
  line-height: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  color: #333333;
  text-transform: uppercase;

  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);
}

.main-navigation {
  font-weight: bold;
  font-size: 14px;
  line-height: 26px;
  color: #ffffff;

  background-color: #ffffff;
}

.site-navigation {
  list-style: none;
}

.site-navigation a {
  color: #000000;
}

.site-navigation a:hover,
.site-navigation a:focus {
  color: #81b3d2;
}

.site-navigation a:active {
  color: #cacaca;
}

/*——😀.definition😃——-*/

.definition {
  text-align: center;
}

.definition-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.definition-reason {
  line-height: 26px;
}

/*——😀.reason-background😃——-*/

.reason-wrapper {
  width: 400px;
  min-height: 256px;

  text-align: center;
  color: #ffffff;

  background-color: #81b3d2;
}

.reason-wrapper b {
  display: block;
  padding: 55px 93px 0;

  font-size: 21px;
  line-height: 21px;
}

.reason-wrapper .reason-item {
  padding: 0 51px;
}

/*——😀.features-list😃——-*/

.features-list {
  padding: 0;

  list-style: none;
}

.features-item {
  vertical-align: top;
  text-align: center;
}

.features-item b {
  display: block;
  margin-top: 160px;

  font-weight: bold;
  font-size: 21px;
  line-height: 21px;
}

.features-item p {
  padding: 0 55px 0;
}

/*——😀short-reasons😃——-*/

.short-reasons {
  text-align: center;

  background-color: #eeeeee;
  margin-bottom: 50px;
}

.short-reasons-item b {
    display: block;
    font-size: 21px;
    line-height: 21px;
    margin-top: 41px;
    padding: 0 122px;
}

.short-reasons-item p {
      padding: 0 69px;
}

.short-reasons-list {
  list-style: none;
}

/*——😀proposal😃——-*/

.proposal {
  margin: 0 auto;
}

.proposal-conditions h2,
.proposal-conditions p {
  text-align: center;
}

.proposal h2 {
  font-size: 30px;
  line-height: 36px;
}

.proposal p {
  line-height: 24px;
}

.proposal-button {
  display: block;
  margin: 0 auto;
  width: 568px;
  height: 86px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #766357;
  border: none;
}

.proposal-button:hover,
.proposal-button:focus {
  background-color: #604e43;
}

.proposal-button:active {
  color: #857871;

  background-color: #503e33;
}

/*——😀😃😃——-*/

.trip {
  display: flex;
  justify-content: center;
  width: 568px;
  height: 395px;
  margin: 0 auto;

  font-weight: bold;
  line-height: 26px;
  background-color: #cbdda9;
}

.check-input {
  width: 281px;
  padding: 4px 40px 4px 15px;

  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.check-input:hover {
  background-color: #ebebeb;
}

.check-input:focus {
  background-color: #ffffff;
}

.quantity-input {
  width: 38px;
  padding: 4px 40px 4px 15px;

  font: inherit;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.trip-find-button {
  width: 458px;
  height: 58px;

  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.trip-find-button:hover,
.trip-find-button:focus {
  background-color: #669ec0;
}

.trip-find-button:focus {
  color: #88b6d1;

  background-color: #5496bd;
}

/*——😀😃😃——-*/

.footer-heshteg {
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}

/*——hotels.html——-*/

.filters {
  color: #ffffff;

  background-image: url(../img/filter_background.jpg);
}

.filters legend {
  font-weight: bold;
  font-size: 16px;
  color: #ffffff;
}

.filter-infrastructure,
.filter-housing {
  list-style: none;
}

.day-price {
  box-sizing: border-box;
  padding: 5px 0;

  text-align: center;

  border: 2px solid #ffffff;
  border-radius: 3px;
}

.filters-button-show {
  width: 133px;
  height: 32px;

  text-align: center;
  text-transform: uppercase;

  border: none;
  border: 2px solid #ffffff;
}

.filters-button-show:hover,
.filters-button-show:focus {
  background-color: #ffffff;
}

.sorting-results {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
}

.sorting-list {
  list-style: none;
}

.sorting-head,
.sorting-link {
  font-size: 12px;
  line-height: 18px;
  color: #b2b2b2;
}

.sorting-link {
  border-bottom: 1px dashed #81b3d2;
}

.sorting-link:hover,
.sorting-link:focus {
  color: #81b3d2;
}

.sorting-link:active {
  color: #000000;

  border: none;
}

.hotels-list {
  list-style: none;
}

.hotels-title {
  font-weight: bold;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotels-title:hover,
.hotels-title:focus {
  color: #81b3d2;
}

.hotels-title:active {
  color: #cacaca;
}

.hotels-item-motel-price {
  color: #333333;
}

.btn-further {
  padding: 5px 16px;

  font-weight: bold;
  color: #ffffff;

  background-color: #81b3d2;
}

.btn-further:hover,
.btn-further:focus {
  background-color: #669ec0;
}

.btn-further:active {
  background-color: #cacaca;
}

.btn-reserve {
  padding: 5px 16px;

  font-weight: bold;
  color: #ffffff;

  background-color: #766357;
}

.btn-reserve:hover,
.btn-reserve:focus {
  background-color: #604e43;
}

.btn-reserve:active {
  color: #857871;

  background-color: #503e33;
}

.rating-numbers {
  width: 110px;
  height: 27px;
  padding: 5px 16px;

  text-align: center;
  color: #666666;

  background-color: #f2f2f2;
}

.footer-social {
  list-style: none;
}

/* ----- Сеточные стили -----*/

html,
body {
  min-width: 1200px;
  min-height: 2762px;
}
.main-header {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
}
.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1200px;
  min-height: 56px;
  margin: 0;
  padding: 0;

  list-style: none;

  background-color: orange;
}
.site-navigation a {
  display: block;
}

.promo {
  position: relative;

  height: 508px;
  margin-bottom: 61px;
  padding-top: 77px;

  background: #d9eaf2 url(../img/promo.jpg) no-repeat;
}

.promo img {
  display: block;
  width: 458px;
  height: 352px;
  margin: 0 auto;
}

.promo::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;

  display: block;
  width: 100%;
  height: 57px;

  background: url(../img/zigzag.png) no-repeat;
  background-size: 100% 57px;
}

.definition {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  text-align: center;
}

.definition-title {
  width: 576px;
  margin-bottom: 0;
  padding: 10px;
}
.definition-reason {
  width: 800px;
}

.main-content {
  width: 1200px;
  margin: 0 auto;
}

.reason {
  display: flex;
  width: 1200px;
  min-height: 256px;
  margin: 0;
  padding: 0;
}
.reason-wrapper {
  min-height: 256px;
  margin: 0;
}

.reason .reason-image {
  margin: 0;
}

.reason-image img {
  width: 800px;
  min-height: 256px;
}

.features-list {
  display: flex;

  /* Временно для сетки */
  min-height: 331px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.features-item {
  width: 400px;
  /* Временно для сетки */
  min-height: 331px;
}
.features-item {
  position: relative;
}

.features-item .housing::before {
  content: "";
  position: absolute;
  top: 17%;
  left: 41%;

  width: 75px;
  height: 72px;

  background-image: url("../img/housing.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item .food::before {
  content: "";
  position: absolute;
  top: 18%;
  left: 41%;

  width: 74px;
  height: 70px;

  background-image: url("../img/food.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.features-item .souvenirs::before {
  content: "";
  position: absolute;
  top: 17%;
  left: 41%;

  width: 64px;
  height: 76px;

  background-image: url("../img/souvenirs.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.short-reasons-list{
  display: flex;

  /* Временно для сетки */
  min-height: 256px;
  margin: 0;
  padding: 0;

  list-style: none;
}

.short-reasons-item {
  width: 400px;
  /* Временно для сетки */
  min-height: 256px;
}

.trip form {
  margin-top: 55px;
}

.main-footer {
  display: flex;
    justify-content: space-around;
  width:1200px;
  margin: 0 auto;
  background-color: #cbdda9;
  align-items: center;
}

.footer-heshteg {
  width: 240px;
}

.footer-social {
  width: 400px;
}

.footer-made {
  width: 240px;
}

.footer-social {
  display: inline-block;
vertical-align: middle;
}

.filters {
  display: flex;
  flex-direction: column;
  padding: 0 73px;
  min-height: 218px;
}

.filter-wrap {
  width: 240px;
  min-height: 172px;
}

.filter-wrap-housing {
  width: 240px;
  min-height: 172px;
}

.filter-wrap-price {
  width: 330px;
  min-height: 172px;
}









